bower_components/
build/
node_modules/
src/elements/**/*-styles.html
src/elements/**/*-script.html
src/components/**/*-styles.html
src/components/**/*-script.html
src/images
src/styles
.DS_Store
.firebaserc
